.main {
	width: 100%;
	background-image: url(../img/backgroundMain.png);
	background-color: #FF4656;



	&__top {
		display: flex;
		justify-content: start;
		width: 100%;
		margin-left: 500px;
		margin-bottom: 350px;
	}

	&__skills {
		display: flex;
		width: 724px;
		height: 248px;
		background-color: #F8F8F8;
		border: 2px solid black;
		border-radius: 10px 0 0 0;
		padding: 31px 118px 0 58px;
		justify-content: space-around;
		margin-right: 80px;

	}
}

.agents {
	display: block;
	width: 1015px;
	font-family: 'Druk';
	font-weight: 500;
	font-size: 156px;
	transform: rotate(90deg);
	-webkit-text-stroke: 1px rgba(255, 255, 255, );
	-webkit-text-fill-color: transparent;
	position: absolute;
	top: 690px;
	left: -213px;

}

.chars {
	width: 440px;
	height: 990px;
	background-color: #1F2326;
	margin-top: 120px;
	display: flex;
	flex-direction: row;
	margin-right: 144px;
	border: 2px solid white;
	border-radius: 20px 0 0 0;


	&__info {
		display: flex;
		font-family: 'Druk';
		margin-top: 45px;
		margin-left: -495px;

	}

	&__country {
		display: block;
		font-size: 24px;
		color: red;
		writing-mode: vertical-lr;
	}

	&__name {
		display: block;
		font-size: 72px;
		-webkit-text-stroke: 1px rgba(255, 255, 255, );
		-webkit-text-fill-color: transparent;
		writing-mode: vertical-lr;
	}

	&__stats {
		display: flex;
		width: 440px;
		height: 110px;
		background-color: inherit;
		border: 2px solid #F8F8F8;
		justify-content: space-evenly;
		align-items: center;
		margin-left: 33px;
		margin-bottom: -30px;
		position: absolute;
		align-self: end;
	}

	.chars:hover &__stats {
		border: 2px solid black;
	}

	.chars:hover &__name {
		-webkit-text-stroke: 2px rgba(0, 0, 0, );
		-webkit-text-fill-color: transparent;
	}

}

.svg-img {
	fill: #fff;
}

.chars:hover {
	background-color: #F8F8F8;
	border: 2px solid black;
}

.chars:hover .svg-img {
	fill: #1F2326;
}

.ulites {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-right: 43px;

	&__pos {
		font-family: 'Druk';
		font-size: 40px;
		color: #C4C4C4;

	}

	&__name {
		font-family: 'Druk';
		font-size: 24px;
		margin: 32px 0 32px 0;
	}

	&__text {
		font-family: 'Montserrat-Bold';
		font-size: 16px;
		letter-spacing: 0.1em;

	}
}

.ulites-img {
	width: 190px;
	height: 182px;
	background: #FF4656;
	align-self: flex-end;
}

.img-pos {
	position: relative;
	top: -32px;
	right: -46px;
}

.wrapper-skills {
	display: flex;
	margin-top: 153px;
	position: absolute;
	bottom: 80px;
	left: -125px;

}

.empty {
	width: 219px;
	height: 248px;
	align-items: center;
	padding: 0;
}